$Z-blue = #4A90E2
$Z-pink = #FC2D79

body
  margin 0
  padding 0
  height 100vh
  width 100vw
  color white
  font-family 'Open Sans'

.MobileContainer
  width 100vw
  height 100vh
  margin 0 auto
  overflow scroll
  position absolute
  top 0
  left 0
  // background-image linear-gradient(90deg, $light-purple 10%, $light-green 90%)
  background-color black

button
  background transparent
  border-radius 10px
  border 1px solid white
  color white
  padding 1rem
  margin-right 1rem
  padding-bottom 2rem
